$bg-color: #555;
$text-color: #efefef;
$font-stack: -apple-system, BlinkMacSystemFont, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $bg-color;
    font-family: $font-stack;
    line-height: 1.6;
}

#food-name {
    color: $text-color;
}

@media screen and (max-width: 992px){
#food-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    max-height: 60vh;
}
}

@media screen and (min-width: 992px){
    #food-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        height: auto;
        max-height: 80vh;
    }
}

.result-name {
    color: $text-color;
}

#result-header {
    color: $text-color;
}

.navbar-icons {
    padding-top: 12px;
    padding-bottom: 12px;
}


.unsplash {
    display:inline-block;
    padding:2px 3px
}

#unsplash-tag {
    background-color:black;
    color:white;
    text-decoration:none;
    padding:4px 6px;
    font-family:$font-stack;
    font-size:12px;
    font-weight:bold;
    line-height:1.2;
    display:inline-block;
    border-radius:3px
}

#unsplash-svg {
    height:12px;
    width:auto;
    position:relative;
    vertical-align:middle;
    top:-2px;
    fill:white
}

@media screen and (max-width: 992px){
#footer {
    position: fixed;
    height: 108px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}
}
